# Python
__pycache__/
*.pyc
.env

# HuggingFace / Transformers
agnews-distilbert/
*.bin
*.safetensors
checkpoint-*
runs/

# Datasets & cache
.cache/
data/

# VS Code
.vscode/
# Frontend (Node / React / Next / Vite)
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.next/
frontend/.cache/
